.projectCont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  margin-bottom: 4rem;
}

.contentCont {
  position: relative;
  flex: 1 1 35%;
  max-height: 250px;
  z-index: 3;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

/* mirror layout for even children */
.projectCont:nth-child(even) {
  flex-direction: row-reverse; /* swap text + image sides */
}
.projectCont:nth-child(even) .cardShadow {
  /* right: auto; */
}
/* mirror layout for even children */



.contentTitle {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--heading-text-color);
  margin-bottom: 0.5rem;
}

.textWrapper {
  background-color: var(--background-darker-color);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0;
}

.textWrapper > p {
  margin: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* image container */
.imgWrapper {
  flex: 2 1 65%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.projectImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

/* shadow/accent element */
.cardShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--accent-text-color);
  bottom: -8px;
  right: -8px;
  z-index: 0;
  transition: all 0.4s ease; /* smooth transform between offset + overlay */
}

/* media queries */

/* medium screens */
@media (max-width: 1024px) {
  .projectCont {
    gap: 1rem;
  }
  .projectCont:nth-child(even) .contentCont {
    margin-right: 0;
    margin-left: -20rem;
  }
  .contentCont {
    flex: 1 1 30%;
    margin-right: -20rem;
    border: none;
  }

  .imgWrapper {
    flex: 2 1 70%;
  }

  .cardShadow {
    z-index: 2;
    opacity: 0.45;
    bottom: 0;
    right: 0;
  }
}

/* small screens */
@media (max-width: 768px) {
  .projectCont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* reset margin offsets when content orientation */
  .projectCont:nth-child(even) .contentCont {
    margin-right: 0;
    margin-left: 0;
  }
  .imgWrapper {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex: none;
  }

  .projectImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .contentCont {
    position: absolute;
    border: none;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /* max-width: 480px; */
    text-align: center;
    padding: 1rem;
  }

  .cardShadow {
    z-index: 2;
    opacity: 0.75;
    bottom: 0;
    right: 0;
  }
}
