.skillList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--background-dark-color);
  padding: 2rem;
  border-radius: 15px;
}


.skillList > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  padding : .5rem;
  margin: .5rem;
  background-color: var(--background-darkest-color);
  border-radius: 15px;
}

