.articleCont {
  display: flex;
  background-color: var(--background-dark-color);
  border-radius: 15px;
  padding: 2rem;
}

.tabBox {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.heading {
  font-size:;
  color: var(--base-header-color);
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 0;
}

.active {
  font-family: 'Atkinson-Bold';
  color: var(--accent-text-color);
  padding: .2rem;
  box-shadow:
    0 0 15px 5px rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
}

.contentBox {
  flex: 3;
}

.contentBox > h5 {
  text-align: left;
  margin-top: 0;
}

.contentBox > ul {
  padding: 0;
}

.listItem {
  position: relative;
  font-family: 'Atkinson';
  margin: 0.7rem 0;
  list-style: none;
  text-align: left;
  color: var(--base-text-color);
}

.listItem::before {
  content: '>';
  font-family: 'Atkinson-Bold';
  position: absolute;
  left: -1rem;
  color: var(--accent-text-color);
}

@media (max-width: 930px) {
  .articleCont {
    flex-direction: column;
  }

  .tabBox {
    flex-direction: row;
    margin: 1rem 0;
    background-color: var(--background-darkest-color);
    padding: 1rem;
    border-radius: 15px;
  }

  .heading {
    margin: 0 auto;
  }

  .listItem {
    padding: 1rem;
  }

  .listItem::before {
    content: '>';
    font-family: 'Atkinson-Bold';
    position: absolute;
    left: 0;
    color: var(--accent-text-color);
  }
}
