.articleCont {
  display: flex;
  background-color: var(--background-dark-color);
  border-radius: 15px;
  padding: 2rem;
}

.tabBox {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.heading {
  font-size: ;
  color: var(--base-header-color);
  /* white-space: nowrap; */
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  transition: border-bottom-color 0.25s ease-in-out;
}

.heading:focus,
.heading:focus-visible,
.heading:hover {
  outline: none !important; /* override global */
  /* border-bottom-color: var(--accent-color); */
  padding-left: 0.2rem;
  box-shadow: -2px 0 0 0 var(--base-heading-color);
}

.active {
  font-family: 'Atkinson-Bold';
  color: var(--accent-text-color);
}

.contentBox {
  flex: 3;
}

.contentBox > h5 {
  text-align: left;
  margin-top: 0;
}

.contentBox > ul {
  padding: 0;
}

.listItem {
  position: relative;
  font-family: 'Atkinson';
  margin: 0.7rem 0;
  list-style: none;
  text-align: left;
  color: var(--base-text-color);
}

.listItem::before {
  content: '>';
  font-family: 'Atkinson-Bold';
  position: absolute;
  left: -1rem;
  color: var(--accent-text-color);
}

@media (max-width: 930px) {
  .articleCont {
    flex-direction: column;
  }

  .tabBox {
    flex-direction: row;
    margin: 1rem 0;
    background-color: var(--background-darkest-color);
    padding: 1rem;
    border-radius: 15px;
  }

  .heading {
    margin: 0 auto;
  }

  .listItem {
    padding: 1rem;
  }

  .listItem::before {
    content: '>';
    font-family: 'Atkinson-Bold';
    position: absolute;
    left: 0;
    color: var(--accent-text-color);
  }
}
